body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

#Login_Page{
  width: 100%;
  height: 100%;
}

html{
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  flex-shrink: 0; /*сжатие*/
  width: 100%;
  /* height: 8%; */
  background-color: #2F80ED ;
  justify-content: space-between;
  align-items: center;
}

.app{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-grow: 1; /*будет расти */
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F0FBF7;
  overflow: auto;
}

.input_login{
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  background-color: antiquewhite;
  min-width: 450px;
}

.footer{
  flex-shrink: 0; /*сжатие*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #2F80ED;
}

.lock{
  height: 100%;
}

.sign_div{
  display: flex;
  justify-self: self-end;
  height: 50px;
  text-align: right;
}

.button_sign_in {
  border-radius: 10px;
  border-color: #2F80ED;
  background-color: #78FFE7;
  /* height: 80%; */
  width: 120px;
  color: #5A47AB;
  font-size: 100%;
  font-weight: bolder;
  margin-right: 10px;

}

.button_sign_up{
  border-radius: 10px;
  border-color: #2F80ED;
  background-color: #78FFE7;
  text-decoration: none; /* убирает эффект ссылки */
  width: 120px; 
  color: #5A47AB;
  font-size: 100%;
  font-weight: bolder;
  margin-right: 10px;
}
.button_sign_up a{ text-decoration: none; /* убирает эффект ссылки */}
 
.develop_span{
  font-size: 22px;
  color: #FFFFFF;
}

.my_info{
  font-size: 22px;
  color: #FFFFFF;
}



.forgot {
  align-self: flex-end;
  margin-bottom: 10%;
}

.login_button{
  align-self: flex-end;
}

.right-marg{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LogInText{
  color: #2F80ED;
  font-size: 30px;
  margin-bottom: 5%;
}

.text{
  font-size: 24px;
  color: #2F80ED;
  
}

.loginbutton{
  border-radius: 10px;
  border-color: #78FFE7;
  background-color: #2F80ED;
  height: 70px;
  width: 220px;
  color: #ffffff;
  font-size: 100%;
  font-weight: bolder;
}

.text_input{
  border-radius: 15px;
  border-color: #2F80ED;
  background-color: #FFFFFF;
  opacity: 35%;
  height: 70px;
  font-size: 40px;
}

.InpLog{
  display: flex;
  flex-direction: column;
  margin-bottom:5% ;
}