body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  width: 100%;
  height: 100%;
}



#Login_Page{
  width: 100%;
  height: 100%;
} 

/* СТИЛИ ДЛЯ ОБЩИХ ЭЛЕМЕНТОВ */

/* общий див */
.app{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


/* синий хедер */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0; /*сжатие убрали*/
  width: 100%;
  background-color: #2F80ED ;
}

/* зеленый мейн */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /*будет расти от хедера и до футера*/
  width: 100%;
  overflow: auto; /* для скроллов*/
  background-color: #F0FBF7;
}


/* синий футер */
.footer{
  display: flex;
  flex-shrink: 0; /*сжатие*/
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #2F80ED;
}


/* СТИЛИ ДЛЯ HEADER ЭЛЕМЕНТОВ */


/* стиль для значка замка */
.header__lock{
  height: 100%;
}

/* стиль для контейнера с кнопками */
.header__sign_buttons{
  display: flex;
  justify-self: self-end;
  height: 50px;
  text-align: right;
}
/* стиль для кнопки */
.header__sign_buttons__button {
  border-radius: 10px;
  border-color: #2F80ED;
  background-color: #78FFE7;
  width: 120px;
  color: #5A47AB;
  font-size: 100%;
  font-weight: bolder;
  margin-right: 10px;
  cursor: pointer;
}


/* cтили для футеровских элементов */
.header__sign_buttons__button a{ text-decoration: none; /* убирает эффект ссылки */}
 
/* стиль для надписи о разработке */
.footer__constructions{
  font-size: 22px;
  color: #FFFFFF;
}

/* стиль о надписи о мне */
.footer__about-me{
  font-size: 22px;
  color: #FFFFFF;
}

/* СТИЛИ ДЛЯ MAIN ЭЛЕМЕНТОВ */

/* стиль для текста */
.text{
  font-size: 24px;
  color: #2F80ED;
}


/* стиль для контейнера регистрации и логина */
.main__input_login{
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  /* background-color: antiquewhite;  */
  min-width: 450px;
}

/* стиль  для надписи Login */
.main__input_login__login-span{
  color: #2F80ED;
  font-size: 30px;
  margin-bottom: 5%;
}

/* стиль для контейнера ввода данных*/
.main__input_login__input{
  display: flex;
  flex-direction: column;
  margin-bottom:5% ;
}

/* стиль для ввода текста e-mail-a */
.main__input_login__input__mail{
  border-radius: 15px;
  border-color: #2F80ED;
  background-color: #FFFFFF;
  opacity: 35%;
  height: 70px;
  font-size: 40px;
}

/* пока не отличается от верхнего, но сделай звездочки в тексте */
/* стиль для ввода текста пароля */
.main__input_login__input__pass{
  border-radius: 15px;
  border-color: #2F80ED;
  background-color: #FFFFFF;
  opacity: 35%;
  height: 70px;
  font-size: 40px;
}

/* стиль для восстановления пароля */
.main__input__forgot {
  align-self: flex-end;
  margin-bottom: 10%;
  visibility: hidden; /* убрана до появления функционала восстановления пароля(навсегда) */
}

/* стиль для контейнера нижнего в основном контейнере */
/* нужен чтобы разнести элементы внутри контейнера на всю ширину */
.main__input__bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* стиль для регистрациии нового юзера */
.main__input__bottom__new-here{
  text-decoration: underline;
  cursor: pointer;
}


/* стиль для кнопки авторизации (Sign In) */
.main__input__bottom__auth{
  border-radius: 10px;
  background-color: #2F80ED;
  height: 70px;
  width: 220px;
  color: #ffffff;
  font-size: 100%;
  font-weight: bolder;
  align-self: flex-end;
  cursor: pointer;
}


